*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: grey;
    /* color: white; */
}
.container{
    background-color: white;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* margin-top: 50px; */
    border-radius: .62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);

}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: white;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    cursor: pointer; 
}
.search-wrapper input{
    font-size: 1em;
    padding:  0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
}

@media screen  and (max-width : 767px){
    .search-wrapper button{
        font-size: 10px;
        padding: 0.4em 0;
    }

    .search-wrapper input{
        font-size: 15px;
        padding:  0 0.4em;
        width: 10em;
        
        border: none;
        border-bottom: 2px solid #3d64e6;
        outline: none;
        color: #222a43;
    }
}

#result{
    margin-top: 1.25em;
}

.container .flag-img{

    display: block;
    width: 45%;
    min-width: 7.5rem;
    margin: 1.8em  auto 1.2em auto;

}

.container h2{
    font-size: 600;
    color:#222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:1.8em ;
}

.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: .3px;
    align-items: center;
    align-content: center;
    
    
}

.container h4{
    display: inline;
    font-weight: 700;
}
.container span{
    color: #5d6274;
    font-weight: 500;
}
.container h3{
    float: left;
    margin-top: -1em;
    font-size: 1.05em;
    font-weight: 400;
    color: rgb(248, 62, 62);
}
.container .wrapper{
    display: flex;
}

.container a img{
    width: 150px;
    height: 70px;
    padding-left: 10px;
    cursor: pointer;
}